<div class="main">
  <div class="inner">
  <div class="bg-video-wrap">
         <video class="video" muted autoplay loop>
      <source src="http://nowte.net/public/movie.mp4" type="video/mp4">
    </video>
    <div class="overlay">
    <div class="form-wrappers">
      <h1>Create New Account</h1>

        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「新規登録機能へのパス」は、devise導入後にrails routesを実行してdevise/registrations#createへのパスを確認し、記載してください。 %>
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="form-item">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "Email" %>
        </div>

        <div class="form-item">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Password(6文字以上)" %>
        </div>

        <div class="form-item">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , :placeholder => "Password再入力(6文字以上)"%>
        </div>

        <div class="form-item">
          <%= f.text_field :name , :placeholder => "Username"%>
        </div>

        <div class="form-control">
          <%= f.text_area :profile, :placeholder => "Profile", class: :textarea %>
        </div>

        <div class="form-control">
          <%= f.text_area :department,:placeholder => "部署", class: :textarea %>
        </div>

        <div class="form-control">
          <%= f.text_area :position, :placeholder => "役職",class: :textarea %>
        </div>

        <div class="button-panel">
          <%= f.submit "Create Account!" , class: :button_panel %>
        </div>
      <% end %>
    </div>
  </div>
</div>