<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <p>Profile</p>

      <table class="table">
          <tr>
            <th>Nickname</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>Profile</th>
            <td><%= @user.profile %></td>
          </tr>
          <tr>
            <th>所属</th>
            <td><%= @user.department %></td>
          </tr>
          <tr>
            <th>役職</th>
            <td><%= @user.position %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <% @user.portals %>
      </h2>
            <p>My Event Record</p>
      <div class="user__card">

        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: 'portals/portal', collection: @portals %> 
      </div>
    </div>
  </div>
</div>