  <div class="form-wrappers">
  <%= form_with model: [@portal], local: true do |f|%>
  
      <h1>Event実施報告</h1>
  <div class="form-item">
    <%= f.text_field :title ,:placeholder => "Event name"%>
  </div>

  <div class="fform-control">
    <%= f.text_area :catch_copy, class: :form__text ,:placeholder => "Event概要"%>
  </div>

  <div class="form-control">
    <%= f.text_area :concept, class: :form__text ,:placeholder => "Event詳細"%>
  </div>

  <div class="form-control">
    <%= f.label :image, "EventPhoto" %><br/>
    <%= f.file_field :image %>
  </div>
  
  <div class="button_panel">
    <%= f.submit "Send Message", class: :button_panel  %>
  </div>
<% end %>